:root {
    --main-bg-color: rgb(114, 114, 216);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

body {
    background-color: #232323;
}

.header-container {
    text-align: center;
    text-shadow: 1px 1px 0.2px black;
}

.header {
    display: inline-block;
    line-height: 3.5rem;
}

.header h1 {
    color: white;
}

.rgbHeader {
    font-size: 60px;
}

.option {
    width: 30%;
    letter-spacing: 2.5px;
}

.top-header {
    background-color: var(--main-bg-color);
}

.box-choice {
    cursor: pointer;
    border-radius: 0.8rem;
}

.easy {
    margin-right: 20px;
}

.easy:hover {
    background-color: var(--main-bg-color);
}

.hard:hover {
    background-color: var(--main-bg-color);
}

.newColors {
    margin-left: 300px;
    cursor: pointer;
    font-size: 1.5rem;

}

.newColors:hover {
    background-color: var(--main-bg-color);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.8s, opacity 0.8s linear;
}

button {
    margin-left: 25%;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

.centered {
    margin: 0 auto;
    max-width: 600px;
}