* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: cursive;
    text-transform: uppercase;
}

body {
    background-color: black;
}

.header-container {
    text-align: center;
}

.header {
    display: inline-block;
    line-height: 3.5rem;
}

.header h1 {
    color: white;
}

.rgbHeader {
    font-size: 50px;
}

.option {
    background-color: white;
    width: 100%;
    margin-top: 20px;
}

.top-header {
    /* will change dynamically with JS */
    background-color: rgb(114, 114, 216);
    padding-top: 20px;
}

.box-choice {
    /* will change dynamically with JS */
    background-color: red;
    cursor: pointer;
    border-radius: 0.5rem;
}