* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    background-color: rgba(100, 200, 80, 0.315);
}

.container {
    display: flex;
    margin: 5% auto;
    justify-content: center;
    background-color: rgba(96, 160, 212, 0.685);
    width: 40%;
    border: 2px solid black;
}

.center {
    width: inherit;
    padding: 20% 15%;
}