* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 63, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.header {
    background-color: rgba(68, 151, 219, 0.808);
    padding: 3px 10px;
    font-size: 25px;
}

i {
    padding-left: 58%;
}

.input,
.input:focus {
    width: 97.5%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px;
}

.input::-webkit-input-placeholder {
    padding-left: 5px;
}

.flexbox-item {
    background-color: #ffff;
    width: 200px;
    margin: 10px;
    margin-top: 100px;
}

.flexbox-item-1 {
    min-height: 450px;
    min-width: 400px;
    box-shadow: 5px 5px 10px rgba(2, 0, 36, 1);
}

li {
    list-style-type: none;
}